---
import type { ProjectEntry } from '../utils/data-utils';
import Abstract from './Abstract';
import Markdown from './Markdown';

type Props = { project: ProjectEntry };

const { project } = Astro.props;
const { title, abstract, coauthors, funding, links, note } = project.data;
---

<div>
    <h2
        class="text-xl leading-tight font-serif font-semibold group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4
        group-hover:decoration-1 sm:text-2xl text-accent dark:text-accent-200"
    >
        {title}
    </h2>
    {
        coauthors && (
            <p class="text-sm italic">
                with <Markdown content={coauthors} />
            </p>
        )
    }
    {
        funding && (
            <div class="py-2 text-sm italic">
                <Markdown content={funding} />
            </div>
        )
    }
    {
        links && (
            <div class="text-sm italic text-accent dark:text-accent-200">
                <Markdown content={links} />
            </div>
        )
    }
    {note && <p class="text-sm italic">{note}</p>}
    {abstract && <Abstract client:load abstract={abstract} />}
</div>
